@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Noto+Sans+KR:wght@300;400;700&display=swap");

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #333;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    color: #2a2a2a;
}

/*----------common-----------*/
.skill,
.works {
    margin: 0 auto;
    padding: 80px 0;
    max-width: 1180px;
    box-sizing: border-box;
}

.title-box {
    text-align: center;
}
.title-box .sub-title {
    margin-bottom: 20px;
    font-size: 17px;
    color: #91aea4;
}
.title-box .underline-text {
    position: relative;
    padding-bottom: 25px;
    font-size: 25px;
    line-height: 33px;
}
.title-box .underline-text:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 45px;
    height: 4px;
    border-radius: 2px;
    background-color: #91aea4;
}

.big-title {
    margin-bottom: 60px;
    text-transform: capitalize;
    text-align: center;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: bold;
}

/*//----------common-----------*/

.header {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 90;
    width: 280px;
    border-right: 1px solid #e5e5e5;
    background-color: #fff;
}
.header h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    font-size: 22px;
}
.header h1 img {
    margin-bottom: 10px;
}

/* nav */
.header nav ul li a {
    display: block;
    padding: 15px 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    transition: 0.2s ease-in-out;
}
.header nav ul li.on {
    background-color: #eee;
}

.header .view-resume {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
    font-size: 16px;
    color: #91aea4;
    transition: 0.2s ease-in-out;
}
.header .view-resume:hover {
    background-color: #ff9709;
    color: #fff;
}

.container {
    overflow: hidden;
    margin-left: 280px;
}
.section {
    box-sizing: border-box;
}

/* main */
.main {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
}
.main-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;
}
.main-intro .title-box {
    text-align: left;
}
.main-intro .title-box .underline-text:after {
    left: 0;
    transform: translateX(0);
}
.main-intro .moto {
    margin: 60px 0 45px;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    color: #20484f;
}
.main-intro .name {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
}
.main-background {
    width: 60%;
    height: auto;
    background-image: url("../img/main-bg.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-indent: -999px;
}

/* Skill */
.skill-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 55px;
    width: 100%;
}
.skill-list .list-item {
    margin-bottom: 30px;
    padding: 40px 0 45px;
    width: 30%;
    border: 1px solid #e5e5e5;
    text-align: center;
    transition: 0.2s ease-in-out;
}
.skill-list .list-item:hover {
    border-color: #ff9709;
}
.skill-list .list-item .circle-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #f7f7f7;
    transition: 0.2s ease-in-out;
}
.skill-list .list-item:hover .circle-bar i {
    color: #ff9709;
}
.skill-list .list-item h4 {
    margin: 20px 0;
    text-transform: capitalize;
    font-size: 19px;
    font-weight: bold;
}
.skill-list .list-item .description {
    margin-bottom: 15px;
    font-size: 15px;
    letter-spacing: -0.3px;
    line-height: 23px;
    color: #959595;
}
.skill-list .list-item p {
    margin-bottom: 10px;
    font-size: 15px;
    letter-spacing: -0.5px;
    line-height: 1;
    color: #959595;
}
.skill-list .list-item .btn-more {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1px;
    color: #555;
}
.skill-list .list-item .btn-more:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 5px;
    height: 5px;
    background-color: #ff9709;
    transition: 0.3s ease-in-out;
}
.skill-list .list-item:hover .btn-more:after {
    width: 100%;
    height: 2px;
}

/* about */
.about {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 120px;
    box-sizing: border-box;
    background-color: #141414;
}
.about .backgroud {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-indent: -999px;
}
.about .backgroud:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.profile {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 670px;
}
.profile figure {
    overflow: hidden;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile figure img {
    width: 100%;
}
.profile .profile-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 57px;
}
.profile .profile-desc .division {
    position: relative;
    width: 80%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
}
.profile .profile-desc .division span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    bottom: -25px;
    position: absolute;
    background-color: #030406;
}
.profile .profile-desc .division span i {
    color: #fff;
}
.profile .profile-desc p {
    padding: 25px 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: lighter;
    font-size: 17px;
    line-height: 28px;
    color: #fff;
}
.profile .profile-desc p .highlight {
    padding: 0 7px;
    border-radius: 3px;
    background-color: #fff;
    font-weight: bold;
    color: #000;
}
.profile .profile-desc p .btn-more {
    display: block;
    margin: 20px 0 10px;
    padding: 0 10px;
    background-color: #fff;
    font-weight: bold;
    color: #000;
}

/* Works */
.project {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 55px;
}
.project li {
    margin-bottom: 80px;
    padding: 0 10px;
    width: 32%;
    box-sizing: border-box;
}

.ppt-thumb {
    overflow: hidden;
    width: 100%;
    height: 270px;
    border-radius: 5px;
}
.ppt-thumb a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: 0.2s ease-in-out;
}
.ppt-thumb a:after {
    opacity: 0;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
}

.ppt-desc .heading {
    display: flex;
    margin: 20px 0 15px;
    font-size: 16px;
    color: #333030;
}
.ppt-desc .heading h4 {
    position: relative;
    margin-right: 20px;
}
.ppt-desc .heading h4:after {
    content: "";
    display: block;
    position: absolute;
    right: -12px;
    top: 55%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #20484f;
}
.ppt-desc .text-box .title-name {
    display: block;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
}
.ppt-desc .text-box .btn-site {
    display: inline-block;
    margin-top: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #7e7e7e;
}
.ppt-desc .text-box .btn-site:hover {
    text-decoration: underline;
}

/*-----hover----*/
.project li:hover .ppt-thumb a {
    transform: scale(1.1);
}
.project li:hover .text-box .title-name {
    color: #91aea4;
}
.project li:hover .ppt-thumb a:after {
    opacity: 1;
}

/* Contact */
.contact {
    border-top: 1px solid #e5e5e5;
}
.contact .inner-wrap {
    margin: 0 auto;
    padding: 80px 0;
    max-width: 1180px;
    box-sizing: border-box;
}
.contact .heading {
    margin-bottom: 60px;
    text-align: center;
}
.contact .heading h5 {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 30px;
    color: #20484f;
}
.contact .heading p {
    font-size: 45px;
    color: #8a8a8a;
}
.contact .content {
    display: flex;
    justify-content: center;
}
.contact .content .sub-title {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 19px;
    color: #20484f;
}
.contact .content .avatar {
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #ddd;
}
.contact .content .avatar img {
    width: 100%;
}

.contact .content .like-things {
    margin: 0 100px;
}
.contact .content .like-things li {
    margin-bottom: 15px;
}
.contact .content .like-things li p {
    max-width: 230px;
    font-size: 16px;
    line-height: 23px;
    color: #555;
}

.contact .content .more-things {
    display: flex;
    flex-direction: column;
}
.contact .content .more-things a {
    margin-bottom: 10px;
}
.contact .content .more-things a:hover {
    text-decoration: underline;
}
.contact .content .more-things a.btn-resume {
}
.contact .content .more-things a.btn-skills {
}
