@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import "reset.css";
@import "common.css";

header {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 90;
    width: 280px;
    border-right: 1px solid #e5e5e5;
    background-color: #fff;
    font-family: "Lora", serif;
}
header h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    font-size: 22px;
}
header h1 img {
    margin-bottom: 10px;
}

/* nav */
header nav ul li a {
    display: block;
    padding: 15px 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    transition: 0.2s ease-in-out;
}
header nav ul li:hover,
header nav ul li.on {
    background-color: #eee;
}

header .view-resume {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
    font-size: 16px;
    color: #91aea4;
    transition: 0.2s ease-in-out;
}
header .view-resume:hover {
    background-color: #ffb54e;
    color: #fff;
}

.container {
    overflow: hidden;
    margin-left: 280px;
    /* background-color: #91aea4; */
}
.container .section {
    width: 100%;
    height: 100vh;
}

.main {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
}
.main .intro {
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
}
.main .intro .welcome-text h2 {
    margin: 60px 0 45px;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    color: #20484f;
}
.main .intro .welcome-text .name {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
}

.main .background {
    width: 60%;
    height: auto;
    background-image: url("../img/main-bg.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.skill {
    padding: 80px 0;
    box-sizing: border-box;
}
.skill .inner-wrap {
    flex-direction: column;
}
.skill-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.skill-list li {
    padding: 40px 0 45px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #ececec;
    background-color: #f7f8f9;
    text-align: center;
}
.skill-list li .circle-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fff;
}
.skill-list li .circle-bar img {
    width: 40px;
}
.skill-list li h3 {
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.skill-list li p {
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: -0.5px;
    line-height: 1;
    color: #555;
}

.works {
    background-color: #072125;
}
.works .big-title {
    color: #fff;
}
